<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Prueba Sunapp - Es gratis</title>
    <style type="text/css">
    </style>
  </head>
  <body style="background-color: #e9ebee;">
    <div style="background-color: white;height: 500px; max-width: 600px; display: grid">
      <div style=" padding: 35px;">
        <div>
          <img src="./logo.webp" alt="Logo sunapp" style="width: 150px;height: 80px;">
        </div>
        <div>
          <p>Hola <b>{{ .username}}</b>, te invitamos a probar Sunapp.</p>
          <p>Con Sunapp podrás conocer más sobre la situación actual de tu empresa</p>
        </div>
      </div>
      <div style="background-color: #434348; bottom: 0;">
        <div style="display: flex;justify-content: center;">
          <img src="./facebook.svg" alt="Facebook">
          <img src="./twitter.svg" alt="Twitter">
          <img src="./youtube.svg" alt="Youtube">
          <img src="./instagram.svg" alt="Instagram">
        </div>
      </div>
    </div>
  </body>
</html>